body{
  background:black;
  color:#00ff9c;
  font-family:monospace;
  text-align:center;
  padding:40px;
}

h1{ font-size:32px; }
h2{ font-size:24px; }

button{
  background:#00ff9c;
  color:black;
  border:none;
  padding:12px 25px;
  margin:10px;
  font-size:16px;
  cursor:pointer;
}
button:hover{ background:white; }

input{
  padding:8px;
  font-size:16px;
  margin-top:10px;
}

.result{
  margin-top:10px;
  font-weight:bold;
}

.champion{
  font-size:22px;
  color:gold;
  margin:25px 0;
}

.hidden{
  display:none;
}

#missionButtons button{
  font-size:20px;
  padding:15px 25px;
  margin:15px;
}

#countdown{
  font-size:28px;
  color:gold;
  margin-top:20px;
  font-weight:bold;
}

#followup{
  margin-top:30px;
}
