body{

background:black;
color:#00ff9c;
font-family:monospace;
text-align:center;
padding:40px;

}

h1{
font-size:32px;
}

button{

background:#00ff9c;
color:black;
border:none;
padding:12px 24px;
margin:10px;
font-size:16px;
cursor:pointer;

}

button:hover{

background:white;

}

.hidden{
display:none;
}

#terminal{

text-align:left;
max-width:700px;
margin:auto;
white-space:pre-line;
margin-top:40px;

}

.cards button{

font-size:20px;
padding:15px;

}

#countdown{

font-size:32px;
margin-top:20px;
color:gold;

}

/* 007 Gun Barrel */

.gunbarrel{

width:150px;
height:150px;
border:6px solid white;
border-radius:50%;
margin:auto;
margin-bottom:30px;
animation:spin 5s linear infinite;

}

@keyframes spin{

from{transform:rotate(0)}
to{transform:rotate(360deg)}

}
