body{

background:black;
color:#00ff9c;
font-family:monospace;
text-align:center;
padding:40px;

}

h1{

font-size:34px;

}

button{

background:#00ff9c;
color:black;
border:none;
padding:12px 24px;
font-size:16px;
margin-top:10px;
cursor:pointer;

}

button:hover{

background:white;

}

.hidden{

display:none;

}

.quote{

font-size:24px;
margin:20px;

}

#terminal{

text-align:left;
max-width:700px;
margin:auto;
white-space:pre-line;
margin-top:40px;

}

.gunbarrel{

width:140px;
height:140px;
border:5px solid white;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:40px;
margin:auto;
margin-bottom:20px;

}

ul{

list-style:none;
padding:0;

}

ul li{

margin:10px;

}

.final{

font-size:22px;
color:gold;

}
