body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #0b0c10;
  color: #66fcf1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

section {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
  background-color: #1f2833;
  border: 1px solid #66fcf1;
  color: #66fcf1;
  border-radius: 5px;
}

button:hover {
  background-color: #45a29e;
  color: #0b0c10;
}

.hidden {
  display: none;
}

#terminal {
  margin-top: 20px;
  text-align: left;
  max-width: 600px;
  width: 100%;
  background-color: #1f2833;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 300px;
}

#terminal p {
  margin: 5px 0;
}
